<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<p>404,抱歉 您需要的网址not found</p>

<script type="text/javascript">
	
	var a={
  "students":[
      {"id":1,"name":"张三","sex":1,"age":12,"hobby":"lol,QQ,Java,python"},
      {"id":2,"name":"张三","sex":1,"age":12,"hobby":"lol,QQ,Java,python"},
      {"id":3,"name":"张三","sex":1,"age":12,"hobby":"lol,QQ,Java,python"},
      {"id":4,"name":"张三","sex":1,"age":12,"hobby":"lol,QQ,Java,python"},
  ]
}

//var sty=JSON.parse(a);//.student;
//console.log(sty);

var str = '{"name":"LeonWu","age":"18"}'

console.log(JSON.parse(str));
</script>
</body>
</html>